/* Importando normalize.css */
@import url(../css/normalize.css);


/* Estilizando style.css */

/* Transições */

h2 {
    text-transform: uppercase;
}

#caixa {
    width: 300px;
    height: 300px;
    background: orange;
}

#caixa:hover {
    width: 400px;
    background: yellow;
    /*transition: width 3s, background 3s;*/
    transition: all 3s;
}

/* Fim Transições */

/* Animações */

/*
@-webkit-keyframes animacao-caixa {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: blue;
        border-radius: 300px;
    }
}

@-webkit-keyframes animacao-caixa2 {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: green;
        border-radius: 300px;
    }
}

@-moz-keyframes animacao-caixa {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: blue;
        border-radius: 300px;
    }
}

@-moz-keyframes animacao-caixa2 {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: green;
        border-radius: 300px;
    }
}

@-o-keyframes animacao-caixa {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: blue;
        border-radius: 300px;
    }
}

@-o-keyframes animacao-caixa2 {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
    }

    to { /* Estado final 
        background: green;
        border-radius: 300px;
    }
}

@keyframes animacao-caixa {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to { /* Estado final 
        background: blue;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

@keyframes animacao-caixa2 {
    from { /* Estado inicial 
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to { /* Estado final 
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

#caixa {
    width: 300px;
    height: 300px;
    background: red;
    text-align: center;
    position: relative;
    /*-webkit-animation-name: animacao-caixa;
    -moz-animation-name: animacao-caixa;
    -o-animation-name: animacao-caixa;
    animation-name: animacao-caixa2;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-duration: alternate;

    -webkit-animation: animacao-caixa 5s 3s 2 alternate;
    -moz-animation: animacao-caixa 5s 3s 2 alternate;
    -o-animation: animacao-caixa 5s 3s 2 alternate;
    animation: animacao-caixa 5s 3s 2 alternate;

}

#caixa2 {
    width: 300px;
    height: 300px;
    background: red;
    text-align: center;
    /*-webkit-animation-name: animacao-caixa2;
    -moz-animation-name: animacao-caixa2;
    -o-animation-name: animacao-caixa2;
    animation-name: animacao-caixa2;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-duration: alternate;

    -webkit-animation: animacao-caixa2 5s 3s 2 alternate;
    -moz-animation: animacao-caixa2 5s 3s 2 alternate;
    -o-animation: animacao-caixa2 5s 3s 2 alternate;
    animation: animacao-caixa2 5s 3s 2 alternate;
}
/* Fim Animações */

/* Sombras 
#caixa {
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 2px 10px rgba(0, 0, 0, 0.2);
}

#caixa h1 {
    color: white;
    /*text-shadow: 20px 20px red;
    text-shadow: 20px 20px 5px rgb(0, 0, 0, 0.6);
}*/
/* Fim sombras */

/*
#caixa {
    width: 300px;
    height: 300px;
    /*background: url(../images/camera.png);
    /*background: linear-gradient(96deg, red, green, yellow, green );
    background: radial-gradient(red, green, yellow);
}*/

/*
#caixa h1 {
    /*background: rgba(255, 255, 255, 0.8);
}
*/

/*#caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    /*border-radius: 20px 90px;
    -webkit-border-radius: 20px 90px;
    -moz-border-radius: 20px 90px;
}

#caixa2 {
    width: 300px;
    height: 300px;
    background: #b9c941;
    /*border-radius: 20px 90px;
    -webkit-border-radius: 20px 90px;
    -moz-border-radius: 20px 90px;
}
*/